@using Microsoft.AspNetCore.Identity
@inject SignInManager<Models.Users.User> SignInManager
@inject UserManager<Models.Users.User> UserManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">web_gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @* Menu elements *@
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            @* User Menu *@
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Media/Albums">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Media/Videos">Videos</a>
                </li>
            </ul>
            @* Editor menu *@
            <ul class="navbar-nav flex-grow-1">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Users/Profile/Edit">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <form method="POST" asp-area="" asp-page="/Users/Logout">
                            <input type="submit" value="Logout">
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Media/Upload">Upload</a>
                    </li>
                    @* Admin menu *@
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Invite">Invite new editor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Ban">Ban editor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Media/Moderate">Moderate media</a>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Users/Login">Login</a>
                    </li>
                } 
            </ul>

        </div>
    </div>
</nav>
