<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
        <meta name="description" content="A web gallery for browsing and sharing photo albums and videos.">
        <meta name="author" content="Botond Dobai">
        <link rel="icon" href="~/favicon.ico">

        <title>@ViewData["Title"] - Web Gallery</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        @* TODO *@
        <link rel="stylesheet" href="~/css/site.css" />

        @RenderSection("Header", required: false)
    </head>

    <body class="text-center">

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

            <header class="masthead mb-auto">
                <div class="inner">
                    <partial name="_Header" />
                </div>
            </header>

            <main role="main" class="inner cover">
                @RenderBody()
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>
                        &copy; 2020 - Web Gallery - <a asp-area="" asp-page="/About">About us</a>
                    </p>
                </div>
            </footer>

        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)

    </body>

</html>
