@using System.Text.RegularExpressions;

@model string
@functions {
    public string predictFileType(){
        try {
            Regex rx = new Regex(@".*\.(.*)\s*$",
                RegexOptions.Compiled | RegexOptions.IgnoreCase);
            MatchCollection matches = rx.Matches(@Model);
            return "video/" + matches[0].Groups[1].Value;
        } catch {
            return "";
        }
    }
}

<video
    id="my-video"
    class="video-js"
    style="width: 100%;"
    controls
    preload="auto"
    poster=""
    data-setup="{}"
>
    <source src="@Model" type="@predictFileType()" />
    <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
    >
    </p>
</video>