@page
@model AlbumsModel
@{
    ViewData["Title"] = "Albums";
    var albumsPerPage = 3;
}
@functions {
  public int getTrimmedCount(int n) => Math.Min(n, Model.Albums.Count);
}
@section Header {
         <script>
           let pageIndex = 0;

            function loadMore() {
              pageIndex+=1;
              $.ajax({
                url: '/Media/Albums?handler=LoadedAlbums',
                data: {
                    pageIndex: pageIndex,
                    pageSize: @albumsPerPage
                }
              })
              .done(function(result) {
                document.getElementById("albumCollection").insertAdjacentHTML('beforeend', result);
              });
            }
          </script>
}

<div class="col-md-12">

  <section class="jumbotron text-center bg-dark">
    <div class="container">
      <h1 class="jumbotron-heading">Albums</h1>
      <p class="lead text-muted">You can find image albums here.</p>
       <button onclick="loadMore()">Load more</button>
    </div>
  </section>

  <div class="album py-5 bg-dark">
    <div class="container">

      <div class="row" id="albumCollection">

        @Html.Partial("_AlbumCardsPartial", model:Model.Albums.GetRange(0, getTrimmedCount(albumsPerPage)))

      </div>

    </div>
  </div>

</div>