@page
@model AlbumsModel
@{
    ViewData["Title"] = "Albums";
}

<div class="text-center">
    <p>Album previews come here</p>
    <ul>
        @foreach (var album in @Model.Albums)
        {
            <li>@album.Id</li>
        }
        @* TODO: show preview (random pic from album) *@
        @* TODO: show Details *@
    </ul>
</div>
