@page
@model VideosModel
@{
    ViewData["Title"] = "Videos";
}

<div class="text-center">
    <ul>
        @foreach (var video in @Model.Videos)
        {
            <li>@video.Id</li>
        }
        @* TODO: https://videojs.com/ *@
        @* TODO: show Details *@
    </ul>
</div>
