@page
@model UserLoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="col-md-4">
    @foreach (var value in @ViewData.ModelState.Values)
    {
        @foreach (var error in value.Errors)
        {
            <div class="alert alert-warning" role="alert">
                @error.ErrorMessage
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }

    <form class="form-customn" method="POST">
        <div class="form-label-group">
            <input asp-for="Email"  class="form-control" autofocus>
            <label asp-for="Email" class="control-label"></label>
        </div>

        <div class="form-label-group">
            <input asp-for="Password"  class="form-control">
            <label asp-for="Password" class="control-label"></label>
        </div>

        <div class="checkbox login-checkbox">
            <label asp-for="RememberMe" class="control-label"></label>
            <input asp-for="RememberMe" class="form-control">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
