@page
@model UserLoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <!-- LOGIN FORM -->
    <form method="post">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control">

        <label asp-for="Password" class="control-label"></label> 
        <input asp-for="Password" class="form-control">
        
        <label asp-for="RememberMe" class="control-label"></label>
        <input asp-for="RememberMe" class="form-control">
        
        <input type="submit" value="Register">
    </form>
</div>
