@page "{id=-1}"
@model IndexModel
@{
    ViewData["Title"] = "User profile";
}
<div class="text-center">
    <ul>
        <li>@User.Identity.Name</li>
        @* TODO: get user details & make this snippet loadable into another page *@
    </ul>
</div>
