@page "{token=-1}"
@model UserRegisterModel
@{
    ViewData["Title"] = "Register new user";
}

<div class="text-center">
    <!-- REGISTRATION FORM -->
    <form method="post">
        <label for="email">Email:</label>
        <input type="email" name="email">
        <label for="password">Password:</label> 
        <input type="password" name="password">
        <label for="password_re">Password again:</label>
        <input type="password" name="password_re"> 
        <input type="submit" value="Register">
    </form>
</div>
