@page "{token?}"
@model UserRegisterModel
@{
    ViewData["Title"] = "Register new user";
}

<div class="text-center">
    <!-- REGISTRATION FORM -->
    <form method="post">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control">

        <label asp-for="Password" class="control-label"></label> 
        <input asp-for="Password" class="form-control">
        
        <label asp-for="PasswordConfirm" class="control-label"></label>
        <input asp-for="PasswordConfirm" class="form-control">
        
        <input type="submit" value="Register">
    </form>
</div>
