@page "{token?}"
@model UserRegisterModel
@{
    ViewData["Title"] = "Register new user";
}

<div>
    <form class="form-customn" method="POST">
        <div class="form-label-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control">
        </div>

        <div class="form-label-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control">
        </div>

        <div class="form-label-group">
            <label asp-for="PasswordConfirm" class="control-label"></label>
            <input asp-for="PasswordConfirm" class="form-control">
        </div>

        <div class="checkbox login-checkbox">
            <label asp-for="ClaimAdminRole" class="control-label"></label>
            <input asp-for="ClaimAdminRole" class="form-control">
        </div>

        <button class="btn btn-lg btn-secondary btn-block" type="submit">Register</button>
    </form>
</div>