@page "{id=-1}"
@model AlbumViewModel
@{
    ViewData["Title"] = "Album view";
}

<div class="text-center">
    <p>Album view comes here</p>
    @foreach (var image in @Model.Images)
    {
        <img src="@image"></img>
    }
</div>
